#footer{
  background: #000;
  font-family: 'Michroma', sans-serif;
	color: #fff;
  width: 100%;
  min-height: 40px;
  padding: 1em 0px;
  text-align: center;
	display: flex;
	justify-content: space-around;
  overflow: hidden;
}
#contact {
	display: flex;
	justify-content: space-around;
	font-weight: bold
}
#contact li {
	margin: 0 10px;
}
#contact a {
  color: white;
}

/* ---------------- @Query ------------------ */
/*small screens*/
@media only screen and (max-width: 800px) {
  #footer {
    flex-direction: column-reverse;
    justify-content: stretch;
    align-items: flex-start;
    width: auto;
    height: auto;
    text-align: start;
    padding: 1.5em 0px;
    overflow: scroll;
    font-size: min(inherit ,100vw);
  }
  #footer div {
    margin: 0.5em 1em;
  }
  #contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  #contact li {
    margin: 0;
  }
}