:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  background: rgb(8,6,60);
  background: linear-gradient(180deg, rgba(8,6,60,1) 0%, rgba(37,37,159,1) 28%, rgba(22,77,212,1) 58%, rgba(14,133,157,1) 100%); 
}